<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="CBMI" />
		<add key="User" value="CBMI" />
		<add key="Pwd" value="CBMI" />
		<add key="frmName" value="CHICAGOBOOTH"/>
		<add key="smtpServer" value="192.168.10.2" />
		<add key="Domain" value="omegacube"/>
		<add key="smtpPort" value="25" />
		<add key ="smtpUid" value ="powererp@chicagobooth.com" />
		<add key ="smtpPwd" value="Omega2006"/>
		<add key="frmEmailID" value="powererp@chicagobooth.com"/>
		<add key="oracleRun" value="c:\PowerERP\D2K\BIN\RWRUN60" />
		<add key="oracleReportsPath"  value="D:\PowerERP\ERP\ERPCLIENTFORMS\CBMI\REPORTS" />
		<add key="ExhangeOrSMTP" value="E"/>
		<!--If Exhange Server then Value="E" or SMTP Value="S"-->
	</appSettings>
</configuration>